* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

html body {
    background-color: #fff9ff;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 0 10px;
    box-sizing: border-box;
    color: #f4ffff;
    background-color: #fffff7;
}
.footer:after{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #d91122;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);


}
.footer li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 50px;
}
.footer li a{
    display: inline-flex;
    align-items: center;
    flex-direction: column;

}
.active{
    color: #e25a0b;
}